/* css code goes here */
/* css code goes here */
.nums {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 150px;
    height: 120px;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}
#input {
    text-align: right;
}
.center {
    display: flex;
justify-content: center;
}